.introt {
  color: black;
  font-family: "Titan One", cursive;
  padding: 1cm;
  padding-left: 1cm;
  font-size: 35px;
}

.Container {
  background-color: #1c1833;
  color: white;
  padding: 1.5cm;
  font-style: italic;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.mtitle {
  font-family: "Titan One", cursive;
  color: #1a1a1d;
  padding: 1cm;
  padding-left: 1cm;
  font-size: 35px;
}

.mbody {
  background-color: #1c1833;
  color: white;
  width: auto;
}

.pfs {
  font-size: 18px;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* For demonstration purposes only: */

h1 {
  font-size: 0.5em;
}

.colorr {
  background-color: #1c1833;
  color: white;
  padding: 2cm;
}
